$primary-color: #183f86; 
$secondary-color: #ef7177;
$light-color: #fdfdfd;
$dark-color: #222;

$header-height: 4.5rem;

@font-face {
	font-family: 'GolosTextWebRegular';
	src: url('../../assets/fonts/Golos_Text_Regular.eot');
	src:
	     url('../../assets/fonts/Golos_Text_Regular.eot?#iefix') format('embedded-opentype'),
	     url('../../assets/fonts/Golos_Text_Regular.woff2') format('woff2'),
	     url('../../assets/fonts/Golos_Text_Regular.woff') format('woff'),
	     url('../../assets/fonts/Golos_Text_Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;   // 1rem = 10px
    box-sizing: border-box;
}

.nashsever-helper{  
    position: fixed;
    right: 3rem;
    bottom: 3rem;

    font-family: 'GolosTextWebRegular';    
    line-height: 150%;     
   

    &-toggler{
        position: absolute;
        bottom: 0;
        right: 0;

        width: 5rem;
        height: 5rem; 
        padding: 0.5rem;    
        
        font-size: 0.9rem;

        background-color: $light-color;
        border: none;
        border-radius: 50%;
        outline: none;

        box-shadow: 0 0 1rem rgba(0, 0, 0, 0.25);  
        cursor: pointer;

        transition: all 0.1s;
        
        img {
            max-width: 85%;
        }

        i {
            color: $primary-color;
        }

        & > * {
            transform: scale(1.01);
            animation: appearance 0.1s ease-in;
        }

        &:hover{
            transform: scale(1.03) translateY(-2px);           
        }
    }

    &-bot{  
        width: 100%;
        height: 100%;
        position: relative;
        bottom: 6rem;
        right: 0;                 

        .react-chatbot-kit-chat-container {
            width: 30rem;
            height: 53rem;   
            max-height: 70vh;
            box-shadow: 0 0 1rem rgba(0, 0, 0, 0.15);
            animation: fadeIn 0.3s ease-out;
            transform: translateY(-2rem);
        }   
        
        .react-chatbot-kit-chat-inner-container {
            height: 100%;            
        }

        .react-chatbot-kit-chat-message-container {
            height: calc(100% - #{$header-height});               
            overflow-x: hidden;   
            overflow-y: scroll; 
            scroll-behavior: smooth;
            

            /* Firefox scrollbar*/
            scrollbar-width: thin;      /* "auto" or "thin" */
            scrollbar-color: $primary-color #dcdcdc;   /* scroll thumb and track */

            /* Chrome, Edge, Safari scrollbar*/
            &::-webkit-scrollbar {
                width: 1rem;            /* width of the entire scrollbar */
            }

            &::-webkit-scrollbar-track {
                background: $light-color;           /* color of the tracking area */
            }

            &::-webkit-scrollbar-thumb {
                background-color: $primary-color;   /* color of the scroll thumb */
                border-radius: 1rem;                /* roundness of the scroll thumb */
                border: 0.3rem solid $light-color;     /* creates padding around scroll thumb */
            }
        }

        .react-chatbot-kit-chat-bot-message-container,
        .react-chatbot-kit-user-chat-message-container {
            margin-bottom: 1.5rem;
        }

        .react-chatbot-kit-chat-bot-message,
        .react-chatbot-kit-user-chat-message {
            width: auto;
            max-width: 75%;
            margin-left: 0;                

            color: $dark-color;
            background-color: #ececec;
            font-size: 1.4rem; 
            line-height: 150%;
        }   

        .react-chatbot-kit-user-chat-message {
            text-align: right;
        }
        
        .react-chatbot-kit-user-avatar-container {
            width: 4rem;
            height: 4rem;             
            margin-left: 1rem; 
            background-color: $secondary-color;

            .react-chatbot-kit-user-avatar-icon {
                width: 1em;
            }
        }

        .react-chatbot-kit-chat-bot-message-arrow {
            width: 0;
            height: 0;
            border-top: 0.8rem solid transparent;
            border-bottom: 0.8rem solid transparent;
            border-right: 0.8rem solid #ececec;
            position: absolute;
            left: -7px;
            top: 0.7rem;            
        }

        .react-chatbot-kit-user-chat-message-arrow {
            width: 0;
            height: 0;
            border-top: 0.8rem solid transparent;
            border-bottom: 0.8rem solid transparent;
            border-left: 0.8rem solid #ececec;
            position: absolute;
            right: -7px;
            top: 0.7rem;
        }


        .react-chatbot-kit-chat-input-container {
            display: none;
        }

        &__header {        
            padding: 1.5rem 2rem; 
            height: $header-height;  

            color: $light-color;
            font-size: 1.7rem;
            font-weight: 700;

            background-color: $primary-color;
            border-radius: 0.5rem 0.5rem 0 0; 
        }

        &__avatar {  
            width: 4rem;
            height: 4rem;             
            margin-right: 1rem;    
            border-radius: 50%;       
            transform: translateY(-1px);            

            img{
                max-width: 100%;
                
            }
        }

        &__user-options {
            display: flex;
            justify-content: flex-end;
            align-items: flex-start;
            flex-wrap: wrap;
        }

        &__button{
            min-width: 7rem;
            padding: 0.5rem 0.75rem;
            margin: 0.5rem 0.25rem;

            color: $light-color;
            font-family: inherit;
            font-size: 1.3rem;
            text-align: center;
            letter-spacing: .08em;

            background-color: $primary-color;
            border: 1px solid $primary-color;
            border-radius: 4px;

            box-shadow: 0 0px 1rem rgba($dark-color, 0.25);
            outline: none;
            cursor: pointer;
            transition: all 0.1s ease-out;

            &:hover {
                background-color: lighten($primary-color, 10%);
                box-shadow: 0 -0.5rem 1rem rgba($dark-color, 0.15);
                transform: translateX(-5px);
            }

            &:active {
                background-color: darken($primary-color, 2%);
                box-shadow: 0 0.5rem 1rem rgba($dark-color, 0.35);
                transform: translateX(-5px) translateY(1px);
            }
        }          
    }   
}


@keyframes fadeIn {
    0% {
        opacity: 0;       
        transform: translateY(0);
    }

    50% {
        opacity: 0.5;       
        transform: translateY(-1rem);
    }

    100%{
        opacity: 1;
        transform: translateY(-2rem);
    }
}

@keyframes appearance {
    0% {        
        transform: scale(0.9);
    }

    100% {        
        transform: scale(1);
    }

    100% {
        transform: scale(1.01);
    }
}